

      
            <!-- LEFT-CONTAINER -->
            <div class="left-container container">
                 <div class="profile-picture small-profile-picture " style="margin-left: 4%; background-image: linear-gradient(310deg,#7928ca,#ff0080);">
                       <!-- <img width="40px" alt="Anne Hathaway picture" src="http://upload.wikimedia.org/wikipedia/commons/e/e1/Anne_Hathaway_Face.jpg" style=""> -->
                    </div>
                <div class="menu-box block "> <!-- MENU BOX (LEFT-CONTAINER) -->
                   
                    <ul class="menu-box-menu">
                        <li>
                            <h2 class="menu-box-tab" href="#6"><span class="icon fontawesome-envelope scnd-font-color"></span>Messages<div class="menu-box-number"></div></h2>                            
                        </li>
                        <li>
                            <h2 class="menu-box-tab" href="#8"><span class="icon entypo-paper-plane scnd-font-color"></span>Invites<div class="menu-box-number"></div></h2>                            
                        </li>
                        <li>
                            <h2 class="menu-box-tab" href="#10"><span class="icon entypo-calendar scnd-font-color"></span>Events<div class="menu-box-number"></div></h2>                            
                        </li>
                        <li>
                            <h2 class="menu-box-tab" href="#12"><span class="icon entypo-cog scnd-font-color"></span>Account Settings</h2>
                        </li>
                        <li>
                            <h2 class="menu-box-tab" href="#13"><span class="icon entypo-chart-line scnd-font-color"></span>Statistics</h2>
                        </li>                        
                    </ul>
                </div>
             