<!--

Follow me on
Dribbble: https://dribbble.com/supahfunk
Twitter: https://twitter.com/supahfunk
Codepen: https://codepen.io/supah/

-->
<div class="shop-card">
  <div class="title">
    <h3>Nike Metcon 2</h3>
  </div>
  <div class="desc">
    <h4>Men's training shoe</h4>
  </div>
  <div style="display: none;" class="slider">
    <figure data-color="#E24938, #A30F22">
      <img src="http://www.supah.it/dribbble/012/1.jpg" />
    </figure>
    
  </div>

  <div class="cta">
    <div class="price">$130</div>
    <button class="btn">Add to cart<span class="bg"></span></button>
  </div>
</div>
<div class="bg"></div>
