    <body>

      
            <!-- RIGHT-CONTAINER -->
            <div class="right-container container">
                
                <div class="calendar-day block" style="background: transparent; margin-bottom: 5%;"> <!-- CALENDAR DAY (RIGHT-CONTAINER) -->
                    <div class="arrow-btn-container">
                        <a class="arrow-btn left" style="    margin-left: 15%;
" href="#200"><span class="icon fontawesome-angle-left"></span></a>
                        <h2 class="titular"></h2>
                        <a class="arrow-btn right " style="    margin-right: 15%;
" href="#201"><span class="icon fontawesome-angle-right"></span></a>
                    </div>
                          <app-profile-card-simple></app-profile-card-simple>
                </div>
                
            </div> <!-- end right-container -->
       
    </body>
